.untitled_370,
.untitled_371,
.untitled_372,
.untitled_373,
.untitled_374,
.untitled_375,
.untitled_376 { background-image: url('untitled_37_icons.png'); width: 16px; height: 16px; }

.untitled_370 { background-position: -0px; }
.untitled_371 { background-position: -16px; }
.untitled_372 { background-position: -32px; }
.untitled_373 { background-position: -48px; }
.untitled_374 { background-position: -64px; }
.untitled_375 { background-position: -80px; }
.untitled_376 { background-position: -96px; }
